.section{
    padding: 0 32px;
    &.one{
        min-height: 100vh;
    }
    &.two{
        min-height: 100vh;
    }
    &.three{
        min-height: 600px;
    }
    .MuiButton-root{
        background-color: var(--action);
        color: var(--action-text);
        font-family: var(--ff-cabin);
        z-index: 1;
        &:after {
            background: var(--action-hover);
        }
        &:hover {
            color: var(--action-hover-text);
        }
    }
    .min-height-420 {
        min-height: 420px;
    }
    .background-img {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        left: 0;
        top:0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        &.gradient{
            background: linear-gradient(90deg, #44FF9A 0%, #44B0FF 22.86%, #8B44FF 48.36%, #FF6644 73.33%, #EBFF70 99.34%);
            opacity: 0.3;
        }
    }
    .background-pattern{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        left: 0;
        top:0;
        &:after{
            content: "";
            opacity: 0.1;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
            left: 0;
            top:0;
            background-image: url('~/public/res/image/bg-pattren.png');
            background-size: contain;
            background-repeat:  repeat;
            background-position: center;
            background-attachment: fixed;
        }
    }
    .showcase{
        position: relative;
        .floatborder{
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 60px;
            border: 1px solid #ffffff;
            top:-1px;
            right: -16px;
            z-index: -1;
        }
        .floatwave{
            position: absolute;
            top:-16px;
            right: -64px;
            z-index: 0;
        }
        .rotateStar{
            position: absolute;
            top:-16px;
            left: -16px;
            z-index: 2;
        }
        .image{
            max-width: 520px;
            width: 100%;
            border-radius: 60px;
            overflow: hidden;
            position: relative;
            z-index: 1;
            img{
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
    &.primary {
        .background {
            background-color: var(--primary);
        }
        .MuiButton-root {
            background-color: var(--action);
            color: var(--action-text);
            font-family: var(--ff-cabin);
            z-index: 1;
            &:after {
                background: var(--action-i-hover);
            }
            &:hover {
                color: var(--action-hover-text);
            }
        }
    }
    .primary-text {
        color: var(--primary);
    }
    .big-pill {
        width: 100%;
        min-width: 120px;
        max-width: 160px;
        position: relative;
        border-radius: 120px;
        overflow: hidden;
        background-size: cover;
        background-repeat:  repeat;
        background-position: center;
        &.img1 { background-image: url('~/public/res/image/pill-1.png') }
        &.img2 { background-image: url('~/public/res/image/pill-2.png') }
        &.img3 { background-image: url('~/public/res/image/pill-3.png') }
        &.img4 { background-image: url('~/public/res/image/pill-4.png') }
        &.img5 { background-image: url('~/public/res/image/pill-5.png') }
        &.img6 { background-image: url('~/public/res/image/pill-6.png') }
        &.img7 { background-image: url('~/public/res/image/pill-7.png') }
        &:after{
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            padding-top: 325%;
            position: relative;
            z-index: -1;
            background-color: gray;
            opacity: 0;
        }
    }
    .xl-right-middle{
        right: 0;
        transform: translate(50%);
        @media (min-width: 1024px) {
            right:auto;
            transform: translate(0);
        }
    }
    .bubble-section{
        & > * {
            max-width: 240px;
            min-width: 240px;
            width: 100%;
            padding: 20px 40px
        }
    }
    .flex-card {
        width: 300px;
        border-radius: 16px;
        background: rgba(255, 255, 255, 0.25);
        .card-list {
            width: 100%;
            border: 1px soild transparent;
            margin: 1px;
            padding: 32px;
            border-radius: 16px;
            background: #0F0F0F;
            display: flex;
            gap: 16px;
            flex-direction: column;
            overflow: hidden;
            background-clip: padding-box;
            .icon {
                width: 60px;
                height: 60px;
                background: rgba(255, 255, 255, 0.1);
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            p {
                font-size: 20px;
                margin: 0;
            }
        }
        &:hover {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.05) 100%);
        }
    }
    .bubble {
        position:relative;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-clip: padding-box;
        padding: 1px;
        transform-origin: center center;
        .circle {
            position: relative;
            width: 100%;
            height: 100%;
            padding-top: 50%;
            padding-bottom: 50%;
            background: linear-gradient(180deg, #393942 0%, #1f1f22  100%);
            border-radius: 50%;
        }
        &::after {
            content: "";
            overflow: hidden;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            top: 0px; bottom: 0px;
            left: 0px; right: 0px;
            border-radius: 50%;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(0, 0, 0, 0.8) 100%);
        }
        span {
            transform-origin: center center;
            position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
        }
        img {
            width: 50%;
        }
    }
    .bubble-space {
        min-height: 50%;
    }
}
.card {
    border-radius: 4px;
    padding: 16px;
    background: var(--card);
    max-width: 480px;
    min-width: 320px;
    width: 100%;
    transition: all 0.3s ease-out;
    text-decoration: none;
    display: block;
    position: relative;
    overflow: hidden;
    .card-image{
        width: 100%;
        padding-top: 67.35%;
        background-color: grey;
        border-radius: 4px;
        .image{
            border-radius: 4px;
        }
    }
    .badge {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.02em;
        background-color: gray;
        color: white;
        padding: 4px 10px 4px 8px;
        border-radius: 3px;
        span {
            line-height: 1;
        }
        &.color1{
            background-color: #8300F3;
        }
        &.color2{
            background-color: #00A556;
        }
        &.color3{
            background-color: #FF0000;
        }
        &.color4{
            background-color: #8300F3;
        }
    }
    .info{
        color: var(--card-info);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.02em;
    }   
    .br {
        width: 100%;
        height: 1px;
        background-color: #B3B4B7;
        margin: 4px 0;
    }
    .footer {
        padding-bottom: 8px;
        .offer {
            font-size: 20x;
            font-weight: 500;
            color: #FF0000;
        }
        .link {
            font-size: 20x;
            font-weight: 500;
            color: var(--primary);
        }
    }
    .card-details {
        padding: 0 16px;
        h3 {
            font-size: 24px;
            font-weight: 600;
            line-height: 1.3;
            color: var(--card-title);
            display: block;
            height: 66px;
            overflow: hidden;
            letter-spacing: 0.02em;
        }
    }
}
.logo{
    color: var(--text);
    height: 100%;
    max-height: 68px;
    .logo-name{
        color: var(--text);
            max-height: 100%;
    }
    .logo-name{
        color: var(--text);
            max-height: 100%;
    }
    svg{
        color: var(--text);
            max-height: 100%;
    }
}
.ribbon-graxi {
    background-color: #E9F300;
    padding: 12px 0;
    color: #000000;
    height: 44px;
    position: relative;
    width: 100%;
    overflow: hidden;
    .content {
        display: flex;
        gap: 64px;
        align-items: center;
        font-size: 20px;
        line-height: 20px;
        position: absolute;
        .dot {
            width: 6px;
            height: 6px;
            background: #000000;
            border-radius: 50%;
        }
    }
}