$black: #000000;
$purple: #8205EE;
$pinegreen: #017755;
$woodsmoke: #0F0F0F;
$gray: #555555;
$white: #ffffff;
$white100: rgba(255, 255, 255, 0.06);
$white200: rgba(255, 255, 255, 0.12);
$woodsmoke900: rgba(15, 15, 15, 0.9);
$woodsmoke800: rgba(15, 15, 15, 0.8);
$woodsmoke700: rgba(15, 15, 15, 0.7);
$woodsmoke600: rgba(15, 15, 15, 0.6);
$woodsmoke500: rgba(15, 15, 15, 0.5);
$woodsmoke200: rgba(15, 15, 15, 0.12);
$woodsmoke100: rgba(15, 15, 15, 0.06);
$neonyellow: #E9F300;