.roundBlur {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    & > * {
        position: absolute;
        width: 300px;
        height: 260px;
        color: var(--round-blur);
        animation: animateRoundBlur 10s linear infinite;
        transform-origin: 50% 50%;
        &:nth-child(1) {
            top: 700px;
            right: -8%;
        }
        &:nth-child(2) {
            top: 1400px;
            left: -8%;
        }
        &:nth-child(3) {
            top: 2100px;
            right: -8%;
        }
        &:nth-child(4) {
            top: 2800px;
            left: -8%
        }
        &:nth-child(5) {
            top: 3500px;
            right: -8%;
        }
        &:nth-child(6) {
            top: 4200px;
            left: -8%;
        }
        &:nth-child(7) {
            top: 4900px;
            right: -8%;
        }
        &:nth-child(8) {
            top: 5600px;
            left: -8%
        }
    }
}
.header-space{
    width: 100%;
}
.fabIcon {
    position: fixed;
    width: 80px;
    height: 80px;
    bottom: 32px;
    right: 32px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    span {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@keyframes animateRoundBlur {

    0%{
        transform: translateY(20px) translateX(-20px) rotate(360deg);
        opacity: 1;
        color: var(--round-blur);
        width: 300px;
        width: 260px;
    }
    50%{
        transform: translateY(-20px) translateX(20px) rotate(0);
        width: 360px;
        width: 480px;
        color: var(--round-blur-secondary);
    }

    100%{
        transform: translateY(20px) translateX(-20px) rotate(360deg);
        color: var(--round-blur);
        width: 300px;
        width: 260px;
    }

}